//File name template: YYYY-mm-DD_APP.log
--- APP Logs ---
Time: ${TIME}
Discord guilds: 
    guild0
    guild1

//Types: INFO/GUILD, INFO/CHAT, INFO/LOG (commanded log), DEBUG, WARN, ERROR, FATAL
[YYYY-mm-DD] [HH:mm:ss.SSS] [APP/TYPE]: STRING