const {Log, Sleep} = require("../modules/JerryUtils");


module.exports = {
    name: "EVENT_NAME",
    once: false, // Whether or not this event should only be triggered once
    async execute(param) {
        await Log("append", 'EVENT_NAME', ``, 'DEBUG');
    }
};
